@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  margin: 0px;
  box-sizing: border-box;
}

/* ::-webkit-calendar-picker-indicator {
    filter: invert(81%) sepia(62%) saturate(2996%) hue-rotate(351deg) brightness(106%) contrast(84%) opacity(35%);
    width: 30px;
    height: 30px;
} */

input[type="date"],
[type="time"] {
  background-color: transparent;
  color: black;
  content: "yolo";
  /* -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none; */
}

input[type="date"]::placeholder {
  color: black;
}
