@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-calendar-picker-indicator {
  filter: invert(83%) sepia(54%) saturate(510%) hue-rotate(356deg) brightness(96%) contrast(108%)
    opacity(80%);
  height: 25px;
  width: 25px;
}

input[type="date"],
[type="time"] {
  background-color: transparent;
  -webkit-calendar-picker-indicator: yellow;
  color: black;
  content: "yolo";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="date"]::placeholder {
  color: black;
}
