@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin:0px;
    box-sizing: border-box;
}
/* 
::-webkit-calendar-picker-indicator {
    filter: invert(81%) sepia(62%) saturate(2996%) hue-rotate(351deg) brightness(106%) contrast(84%) opacity(35%);
    width: 30px;
    height: 30px;
} */

::-webkit-search-decoration {
    color: transparent;
    background: none;
}
